.actions-block{
	margin: 15px 0 15px;
	text-align: center;
	@include m7{
		margin: 0;
		text-align: center;
		&__fix{
			position: fixed;
			top: 180px;
			z-index: 12;
		}
		/*&__hide{
			opacity: 
		}*/
	}
	&_head{
		background-color: #ab63c9;
		font-family: $fontBold;
		text-transform: uppercase;
		font-size: 18px;
		text-align: center;
		margin: 0 0 18px;
		@include m7{
			text-align: left;
			padding: 0 0 0 20px;
		}
		span{
			display: inline-block;
			padding: 0 10px;
			color: #000;
			background-color: #fff;
		}
	}
	&_item{
		display: block;
		max-width: 270px;
		margin: 0 auto 21px auto;
		text-decoration: none;
		text-align: center;
		@include m7{
			margin: 0 0 21px;
		}
	}
	&_image{
		position: relative;
		img{
			display: block;
			width: 100%;
			height: auto;
		}
		.actions-block_item:hover &{
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: block;
				background-color: #ab63c9;
				opacity: 0.4;
			}
		}
	}
	&_title{
		background-color: #e9e9e9;
		font-family: $fontBold;
		font-size: 14px;
		color: #2e2e2e;
		text-transform: uppercase;
		padding: 10px 15px;
		line-height: 25px;
		p{
			line-height: 25px!important;
			margin-bottom: 0!important;
		}
	}
	&_descr{
		background-color: #ab63c9;
		font-family: $fontBold;
		font-size: 12px;
		color: #fff;
		text-transform: uppercase;
		padding: 19px 15px 19px 28px;
		line-height: 16px;
		text-align: left;
	}
	&_more{
		text-decoration: none;
		text-transform: uppercase;
		@include link($fontColor, #d777ff);
		font-size: 13px;
		position: relative;
		padding: 0 20px 0;
		top: -4px;
		&:before{
			content: '';
			position:  absolute;
			top: 2px;
			right: 0;
			display: inline-block;
			width: 14px;
			height: 14px;
			background: transparent url('../images/arrow-link.png') left top no-repeat;
		}
	}
}