.block-reviews{
	padding: 15px 0 0;
	overflow: hidden;
	@include m7{
		padding: 51px 0 0;
	}
	&_title{
		text-align: center;
		font-family: $fontRegular;
		color: #000000;
		font-size: 24px;
		margin-bottom: 20px;
		@include m7{
			font-size: 36px;
			margin-bottom: 38px;
		}
		span{
			position: relative;
			display: inline-block;
			height: 19px;
			padding: 0 17px;
			&:before{
				content: '';
				position: absolute;
				left: -800px;
				top: 5px;
				display: inline-block;
				height: 100%;
				width: 800px;
				background-color: #ab63c9;
				@include m7{
					top: 11px;
				}
			}
			&:after{
				content: '';
				position: absolute;
				right: -800px;
				top: 5px;
				display: inline-block;
				height: 100%;
				width: 800px;
				background-color: #ab63c9;
				@include m7{
					top: 11px;
				}
			}
		}
	}
	&_item{
		background: transparent url('../images/block-reviews-bac.png') left top no-repeat;
		background-size: cover;
		max-width: 370px;
		margin: 0 auto 15px auto;
		padding: 15px 0 14px;
		@include m7{
			margin: 0;
			padding: 15px 0 24px;
		}
	}
	&_image{
		max-width: 287px;
		margin: 0 auto 21px auto;
		img{
			display: block;
			width: 100%;
			height: auto;
		}
	}
	&_name{
		font-family: $fontMyriadRegular;
		font-size: 24px;
		color: #2b2b2b;
		text-align: center;
	}
	&_descr{
		font-family: $fontLight;
		font-size: 16px;
		text-align: center;
		position: relative;
		padding: 0 0 8px;
		margin-bottom: 10px;
		&:before{
			content: '';
			position: absolute;
			left: 50%;
			bottom: 0;
			width: 86px;
			height: 3px;
			margin-left: -43px;
			background-color: #ab63c9;
		}
	}
	&_body{
		font-family: $fontLight;
		font-size: 14px;
		line-height: 18px;
		padding: 0 43px;
		margin-bottom: 30px;
		@include m7{
			margin-bottom: 58px;
		}
	}
	&_more{
		text-decoration: none;
		text-transform: uppercase;
		@include link($fontColor, #d777ff);
		font-size: 13px;
		position: relative;
		padding: 0 55px 0;
		top: -4px;
		display: block;
		text-align: right;
		&:before{
			content: '';
			position:  absolute;
			top: -1px;
			right: 37px;
			display: inline-block;
			width: 14px;
			height: 14px;
			background: transparent url('../images/arrow-link.png') left top no-repeat;
		}
	}
}