.contacts{
	font-family: $fontRegular;
	font-size: 20px;
	line-height: 24px;
	color: #020202;
	margin-bottom: 15px;
	@include m7{
		margin-bottom: 98px;
		padding: 48px 0 0;
	}
	&_time{
		position: relative;
		padding: 0 0 0 57px;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 32px;
			height: 32px;
			background: transparent url('../images/contacts-icons.png') left top no-repeat;
		}
		p{
			margin-bottom: 22px;
			font-size: 20px;
			line-height: 24px;
		}
	}
	&_address{
		position: relative;
		padding: 0 0 0 57px;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 32px;
			height: 32px;
			background: transparent url('../images/contacts-icons.png') -32px top no-repeat;
		}
		p{
			margin-bottom: 22px;
			font-size: 20px;
			line-height: 24px;
		}
	}
	&_phone{
		position: relative;
		padding: 0 0 0 57px;
		&:before{
			content: '';
			position: absolute;
			top: -2px;
			left: 2px;
			width: 32px;
			height: 32px;
			background: transparent url('../images/phone.png') left top no-repeat;
			background-size: contain;
		}
		p{
			margin-bottom: 22px;
			font-size: 20px;
			line-height: 24px;
		}
	}
	&_email{
		position: relative;
		padding: 0 0 0 57px;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 2px;
			width: 32px;
			height: 32px;
			background: transparent url('../images/mail.png') left top no-repeat;
			background-size: contain;
		}
		p{
			margin-bottom: 22px;
			font-size: 20px;
			line-height: 24px;
		}
	}
}