.content{
	.container-front &{
		border-bottom: 3px solid #ab63c9;
	}	
	h1{
		font-family: $fontRegular;
		font-size: 36px;
		color: #000;
		background-color: #ab63c9;
		height: 19px;
		line-height: 12px;
		margin-bottom: 20px;
		@include m7{
			margin-bottom: 38px;
		}
		span{
			display: inline-block;
			padding: 0 30px;
			background-color: #fff;
			height: 19px;
			margin-left: 20px;
			position: relative;
			&:before{
				content: '';
				position: absolute;
				right: 30px;
				bottom: -10px;
				width: 102px;
				height: 3px;
				background-color: #ab63c9;
			}
		}
	}
	&_user{
		margin-bottom: 25px;
		@include m7{
			padding-bottom: 20px;
		}
		p{
			font-size: 14px;
			line-height: 18px;
			margin-bottom: 18px;
			@include m7{
				margin-bottom: 36px;
			}
		}
	}
}