.content{
	.container-front &{
		border-bottom: 3px solid #ab63c9;
	}	
	h1{
		font-family: $fontRegular;
		font-size: 24px;
		color: #000;
		background-color: #ab63c9;
		line-height: 20px;
		margin-bottom: 20px;
		@include m4{
			line-height: 12px;
			font-size: 36px;
			height: 19px;
		}
		@include m7{
			margin-bottom: 38px;
		}
		span{
			display: inline-block;
			padding: 0 10px;
			background-color: #fff;
			margin-left: 20px;
			position: relative;
			@include m4{
				padding: 0 30px;
				height: 19px;
				&:before{
					content: '';
					position: absolute;
					right: 30px;
					bottom: -10px;
					width: 102px;
					height: 3px;
					background-color: #ab63c9;
				}		
			}
		}
	}
	&_user{
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 25px;
		@include m7{
			.container-front &{
				padding-bottom: 20px;
			}
		}
		p{
			font-size: 14px;
			line-height: 18px;
			margin-bottom: 18px;
			@include m7{
				margin-bottom: 36px;
			}
		}
		ol{
			padding-left: 15px;
			list-style-type: decimal;
			li{
				font-size: 14px;
				line-height: 18px;
			}
		}
		ul{
			padding-left: 15px;
			list-style-type: disc;
			li{
				font-size: 14px;
				line-height: 18px;
			}
		}
		b{
			font-family: $fontBold;
		}
		i, em{
			font-style: italic;
		}
		u{
			text-decoration: underline;
		}
		h2{
			font-family: $fontBold;
			font-size: 20px;
			line-height: 20px;
			p{
				font-family: $fontBold;
				font-size: 20px;
				line-height: 20px;
			}
		}
		h3, h4{
			font-family: $fontBold;
			font-size: 16px;
			line-height: 16px;
			p{
				font-family: $fontBold;
				font-size: 16px;
				line-height: 16px;
			}
		}
	}
}