.menu-cat{
	margin-bottom: 15px;
	@include m7{
		@include clearfix;
	}
	&_row{
		@include m7{
			@include clearfix;
		}	
	}
	&_item{
		min-height: 85px;
		margin-bottom: 0;
		@include m7{
			float: left;
			width: 33.33%;
			//text-align: right;
			margin-bottom: 0px;
		}
	}
	&_link{
		display: inline-block;
		padding: 23px 0 2px 22px;
		position: relative;
		@include link(#000, #000);
		text-decoration: none;
		font-family: $fontBold;
		font-size: 14px;
		line-height: 5px;
		text-transform: uppercase;
		&:before{
			content: '';
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			height: 100%;
			width: 50px;
			border: 8px solid #ab63c9;
		}
		&:hover{
			&:before{
				border-color: #7f8080;
			}
		}
		span{
			display: inline-block;
			padding: 8px 0 12px;
			background-color: #fff;
			text-align: left;
		}
	}
}