.page-head{
	display: none;
	@include m7{
		display: block;
		position: relative;
		max-height: 399px;
		overflow: hidden;
		img{
			display: block;
			width: 100%;
			height: auto;
		}
		&_inner{
			width: 100%;
			max-width: $maxWidth;
			//overflow: auto;
 			margin: auto;
 			padding: $innerPadings;
 			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
		&_name{
			/*position: absolute;
			top: 0;
			left: 0;*/
			position: relative;
			display: inline-block;
			padding: 26px 50px 30px;
			//min-width: 540px;
			margin-top: 110px;
			color: #fcfbfd;
			font-family: $fontBold;
			font-size: 60px;
			text-transform: uppercase;
			span{
				position: relative;
				z-index: 1;
			}
		}
		&_fill{
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #8b0171;
			opacity: 0.8;
			overflow: hidden;
			&:before{
				content: '';
				position: absolute;
				left: 0;
				//left: -5%;
				//top: -600px;
				top: 0;
				//bottom: -600px;
				bottom: 0;
				width: 50%;
				//min-width: 335px;
				//height: 100%;
				background-color: #2d2d2d;
				//transform: rotate(23deg);s
				transform-origin: 0 0;
				transform: skewX(-23deg);
			}
		}
	}
}