.reasons{
	display: none;
	@include m7{
		display: block;
		padding: 49px 0 36px;
		background: transparent url('../images/bestsellers-bac.jpg') left top no-repeat;
		background-size: cover;
		&_title{
			text-align: center;
			font-family: $fontRegular;
			color: #000;
			font-size: 36px;
			margin-bottom: 38px;
			overflow: hidden;
			min-height: 36px;
			span{
				position: relative;
				display: inline-block;
				height: 19px;
				padding: 0 22px;
				&:before{
					content: '';
					position: absolute;
					left: -800px;
					top: 11px;
					display: inline-block;
					height: 100%;
					width: 800px;
					background-color: #000;
				}
				&:after{
					content: '';
					position: absolute;
					right: -800px;
					top: 11px;
					display: inline-block;
					height: 100%;
					width: 800px;
					background-color: #000;
				}
			}
		}
		&_item{
			float: left;
			width: 20%;
		}
		&_image{
			max-width: 134px;
			margin: 0 auto 20px auto;
			img{
				width: 100%;
				height: auto;
			}
		}
		&_descr{
			text-align: center;
			padding: 0 15px 10px 15px;
			position: relative;
			font-family: $fontMyriadRegular;
			color: #000;
			font-size: 18px;
			line-height: 18px;
			&:before{
				content: '';
				position: absolute;
				bottom: 0;
				left: 50%;
				margin-left: -43px;
				width: 86px;
				height: 3px;
				background-color: #ab63c9;
			}
		}
	}
}