$fontRegular: 'fontregular';
$fontBold: 'fontbold';
$fontMyriad: 'fontmyriad';
$fontMyriadBold: 'fontmyriadbold';
$fontMyriadRegular: 'fontmyriadregular';
$fontLight: 'fontlight';

$fontSize: 18px;

$fontColor: #303030;

$maxWidth: 1194px;
$minWidth: 240px;

$innerPadings: 0 12px;